.logo {
    width: 15%;
    height: 15%;
}


:root {
    --primary-color: #00ac9d;
    --secondary-color: #00467f;
    --alt-color: #f1f1f1;

    --secondary-text-color: #a3a3a3;
    --secondary-text-light: #e3e3e3;

    --secondary-color-dark: #081a29;

    --swiper-theme-color: var(--primary-color);

    --surface-color: #fff;
    --curve: 20;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    /* overflow-x: hidden; */
}

h1,
h3 {
    color: #00467f;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #f1f1f1;
    transition: 0.4;
}

a:hover {
    color: #00ac9d;
    
}

p {
    font-size: 0.85em;
    color: #a3a3a3;
    line-height: 1.5em;
}

section {
    padding: 3em 2em;
    margin: 2em 0;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

/* .logo{
    filter: drop-shadow(5px 5px 5px rgb(86, 84, 84));
 } */

/* Navigation bar------------------------------------------------------- */

nav {
    z-index: 99;
    position: relative;
}

nav a {
    text-decoration: none;
}

nav .container {
    padding: 1em 4em;
    max-width: 1200px;
}

nav .container>div,
nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    margin: 0;
}

nav ul a {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;
}

nav .logo {
    width: 8em;
    display: inline-block;

}

nav .container .menu-btn {
    display: none;
}

/* nav .container{
    padding:0px 20px ;
} */


/* Header------------------------------------- */
header {
    /* background-image: url('images/bg31.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover; */
    object-fit: cover;
    border: 0.5px solid #f1f1f1;
    border-radius: 0 0 15px 15px;
    position: relative;
}

.hdr {
    background-image: url('images/bg31_modified.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    background-position: center;
    border-radius:0 0 30px 30px;

}

/* .planep{
    position: relative;
    left: 50%;
    bottom: 20%;
    overflow: hidden;
} */
header::before,
header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
}

/* header::before{
    width: 100%;
    background: url(images/clouds-min3.png) center no-repeat;
    background-size: cover;
    right: 15%;
    bottom: 20%;
} */

/* header::after{
    background: linear-gradient(
        90deg,#f1f1f1 0%,
        rgba(255,255,255,0) 100%
    );
    width: 37%;
} */

 .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-left: 3em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    height: 80%;
    max-width: 100%;
    animation-delay: 500ms;
    
}

header h1 {
    font-size: 2.5em;
    font-weight: 1.2em;
    text-transform: uppercase;
    line-height: 1.3em;
    animation-delay: 500ms;
}

h1 span {
    font-size: 1.1em;
    color: #00ac9d;
}

.btn {
    padding: 1em;
    border-radius: 20px;
    letter-spacing: 1px;
    font-size: 0.9em;
    margin: 1em 0;
    display: inline-block;
    box-sizing: border-box;
}

.btn-primary {
    background: #00ac9d;
    color: #e3e3e3;
}

.btn-secondary {
    background: #e3e3e3;
    border: 1px #00467f solid;
    color: #00467f;
}

.btn-primary:hover {
    background-color: #009c8e;
    color: #f1f1f1;
}

.btn-secondary:hover {
    background-color: #00467f;
    color: #fcf8f8;
}

.menu ul li{
    padding: 10px;
}



/* Destination suggestion----------------------- */
.about {
    margin: 0;
    padding-top: 5em;
    position: relative;
}

/* .about::before {
    content: "";
    position: absolute;
    left: 0;
    top: -15em;
    height: 15em;
    width: 100%;
    background: linear-gradient(0deg, #f1f1f1 0%, rgba(255, 255, 255, 0) 100%);
} */

/* .card{
    width: 30em;
    margin: 5em 0;
    position: relative;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.2);
    background-color: #00ac9d;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */



/* Swipper----------------------------------------------------------------- */
.swiper {
    /* background-color: var(--alt-color); */
    width: 100%;
    height: 20em;
    min-height: 10em;
}

.swiper-wrapper {
    height: 100%;
}

.swipper-slide {
    background-color: var(--alt-color);
    height: 100%;
}

.aboutSwiper .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Crd--------------------------------------------------------------------------------- */

.card {
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    width: 33em;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;

}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--primary-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--primary-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--primary-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: var(--secondary-color);
}

.card__tagline {
    display: block;
    margin: 1em 0;
    /* font-family: "MockFlowFont"; */
    font-size: .8em;
    color: var(--alt-color);
}

.card__status {
    font-size: .8em;
    color: var(--alt-color);
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: var(--alt-color);
    font-family: 'Raleway', sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.card__description span {
    font-family: 'Raleway', sans-serif;
    font-weight: 115%;
    font-size: 110%;
    text-transform: uppercase;

}

.card__description span:hover {
    color: #00467f;
}

/* Service---------------------------------------------------------------------- */
.services .container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.service {
    max-width: 20em;
    margin: 2em;
}

.service .fas {
    color: #00ac9d;

}

/* hEADING--------------------------------------------------------------------- */
.heading {
    text-align: center;
    padding: 3em 1em;
}

.heading h1 {
    position: relative;
    color: var(--secondary-color);
    font-size: 2.5em;
}

.heading h1 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: var(--secondary-text-light);
    z-index: -1;
    width: 100%;
}

/* Discont------------------------------------------------------------------ */
.discount {
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.discount p {
    max-width: 40em;
    margin: 0 auto 2em auto;
}

/* Boking-------------------------------------------------------------------------------------------------------------------- */

.booking{
    
    width: 420px;
    height: 420px;
    background-color: #ffffff;
    border-radius: 10px;
    top: 50%;
    box-shadow: 10px 10px rgba(202, 245, 223, 0.1);
    position: relative;
    overflow: hidden;
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.booking::before{
    content:'';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 420px;
    height: 420px;
    background: linear-gradient(0deg,rgba(202, 245, 223, 0.1) , #00ac9d, #00ac9d);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.booking::after{
    content:'';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 420px;
    height: 420px;
    background: linear-gradient(0deg,rgba(202, 245, 223, 0.1) , #00ac9d, #00ac9d);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: 3s;
}

.form-back{
    position: absolute;
    z-index: 3;
    background: #f1f1f1;
    inset: 3.5px;
    border-radius: inherit;
    /* background-image: url('images/b31cp.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    background-position: center;
}

.form{
    position: absolute;
    background-color: #ffffff;
    /* opacity: 0.57; */
    width: 100%;
    height: 100%;
    min-width: 1;
    border-radius: inherit;
}


/* Tabs form------------------------------------------------------------------------------------------------------------------- */
.tabs {
    /* left: 50%;
    transform: translateX(-50%); */
    position: relative;
    background: white;
    /* display: flex;
    
    align-items: center; */
    /* padding-bottom: 80px; */
    width: 100%;
    height: fit-content;

    border-radius: 5px;
    min-width: 240px;
  }

  .tabs ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .tabs input[name=tab-control] {
    display: none;
  }
  .tabs .content section h2,
  .tabs ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: #428bff;
  }
  .tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .tabs ul li {
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
  }
  .tabs ul li label {
    transition: all 0.3s ease-in-out;
    color: #929daf;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .tabs ul li label br {
    display: none;
  }
  .tabs ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    transition: all 0.2s ease-in-out;
  }
  .tabs ul li label:hover, .tabs ul li label:focus, .tabs ul li label:active {
    outline: 0;
    color: #bec5cf;
  }
  .tabs ul li label:hover svg, .tabs ul li label:focus svg, .tabs ul li label:active svg {
    fill: #bec5cf;
  }
  .tabs .slider {
    position: relative;
    width: 25%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  }
  .tabs .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #00ac9d;
    border-radius: 1px;
  }
  .tabs .content {
    margin-top: 30px;
  }
  .tabs .content section {
    display: none;
    -webkit-animation-name: content;
            animation-name: content;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    line-height: 1.4;
  }
  .tabs .content section h2 {
    color: #00ac9d;
    display: none;
  }
  .tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: #00ac9d;
    margin-top: 5px;
    left: 1px;
  }
  .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    cursor: default;
    color: #00ac9d;
  }
  .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label svg {
    fill: #00ac9d;
  }
  @media (max-width: 600px) {
    .tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
      background: rgba(0, 0, 0, 0.08);
    }
  }
  .tabs input[name=tab-control]:nth-of-type(1):checked ~ .slider {
    transform: translateX(0%);
  }
  .tabs input[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
    display: block;
  }
  .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    cursor: default;
    color: #00ac9d;
  }
  .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label svg {
    fill: #00ac9d;
  }
  @media (max-width: 600px) {
    .tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
      background: rgba(0, 0, 0, 0);
    }
  }
  .tabs input[name=tab-control]:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
  }
  .tabs input[name=tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
    display: block;
  }
  
  @-webkit-keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @media (max-width: 1000px) {
    .tabs ul li label {
      white-space: initial;
    }
    .tabs ul li label br {
      display: initial;
    }
    .tabs ul li label svg {
      height: 1.5em;
    }
  }
  @media (max-width: 600px) {
    .tabs ul li label {
      padding: 5px;
      border-radius: 5px;
    }
    .tabs ul li label span {
      display: none;
    }
    .tabs .slider {
      display: none;
    }
    .tabs .content {
      margin-top: 20px;
    }
    .tabs .content section h2 {
      display: block;
    }
  }


  /* F·ªètmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
  .inputbox{
    
  }